body {
    /* Background image with cover and fixed position */
    background: url('SKY.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif; 
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    background: transparent; /* Transparent background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
}

.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.login-container label {
    margin-bottom: 5px;
    font-weight: bold;
    width: 100%;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="date"],
.login-container input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-container .gender-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 15px;
}


.login-container input[type="radio"] {
    margin-right: 5px;
}

.login-container .gender-group label {
    font-weight: normal;
    display: flex;
    align-items: center;
}
form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.login-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.login-container button:hover {
    background-color: #45a049;
}
#toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #333;
    color: #fff;
    padding: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

.toast.hide {
    opacity: 0;
    transform: translateY(-20px);
}

.invert{
    filter: invert(1);
}